<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="login.css"/>
</head>
<body>
<div class="page">
  <div class="header">
    <p>Gambling Site</p>
  </div>
  <form action="/login" method='post'>
    <div class="row">
      <div class="input-name">
        User
      </div>
      <div class="input-text">
        <input type='text' name='username'></input>
      </div>
    </div>
    <div class="row">
      <div class="input-name">
        Password
      </div>
      <div class="input-text">
        <input type='text' name='password'></input>
      </div>
    </div>
    <div class="button">
      <input type='submit' name='submit' value="Login"></input>
      <br/>
      <br/>
    </div>
  </form>
</div>
</body>
</html>